.highlight .n {
    color: #ca5c1d;
}

.highlight .p {
    color: #ad8b19;
}

.highlight .kt {
    color: #e0ae09;
}

.highlight .mi {
    color: #d32722;
}

.highlight .mf {
    color: #d32722;
}

.highlight .kr {
    color: #db217e;
}

.highlight .o {
    color: #fad399;
}